@model New_Zealand_MVC.Models.Event

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Event Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event_Name)
        </dd>
        <dt class = "col-sm-2">
            Event Place
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event_Place)
        </dd>
        <dt class = "col-sm-2">
            Event Address
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event_Address)
        </dd>
        <dt class = "col-sm-2">
            Event Price
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event_Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
