@model New_Zealand_MVC.Models.Booking

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            No of tickets
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.No_of_tickets)
        </dd>
        <dt class = "col-sm-2">
            Ticket price
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ticket_price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.customer.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Famous_Hotel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Famous_Hotel.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Attraction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Attraction.Attraction_Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Event)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event.Event_Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
