@model IEnumerable<New_Zealand_MVC.Models.Booking>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="cl">&nbsp;</div>
<a href="#">
    <img src="css/images/AUCKLAND.jpg" alt="" />
    <div class="cl">&nbsp;</div>
    </div>
    <P>
        Hotels in New Zealand come in all shapes, sizes and personalities.
        From budget to luxury, there are hundreds of hotels to choose from around the country.
        Hotel accommodation provides a range of facilities which will generally include restaurants/cafes, bars, gyms, and services including valet car parking.
        New Zealand hotels are of a consistently high standard.
        Make sure you book a Qualmark star rated property if quality, good service and facilities are important to you.

       



    </P>


    </div>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    No of tickets
                </th>
                <th>
                    Ticket price
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.customer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hotel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Attraction)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Event)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.No_of_tickets)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ticket_price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.customer.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hotel.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Attraction.Attraction_Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Event.Event_Address)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
