@model IEnumerable<New_Zealand_MVC.Models.Famous_Hotel>

@{
    ViewData["Title"] = "Index";
}
<!--this page make for giving the information about Famous Hotels And add a image in this page-->

<h1>Index</h1>
<div class="cl">&nbsp;</div>
<a href="#">
    <img src="css/images/HOTEL.jpg" alt="" />
    <div class="cl">&nbsp;</div>
    </div>
    <P>
        According to an accommodation survey by the New Zealand government,
        there are 3,089 establishments in total, providing 138,593 places for tourists to stay throughout the country.
        Hotel occupancy is at about 86 percent throughout the year.
        Luxury Hotels in South Island
        Te Koi the Lodge at Bronte, Nelson/Abel Tasman. ...
        Lochmara Lodge, Marlborough Sounds. ...
        Hapuku Lodge + Tree Houses, Kaikoura. ...
        The George Hotel, Canterbury. ...
        Hurunui Jacks, Hokitika, West Coast.
    </P>


    </div>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Hotal Name
                </th>
                <th>
                    Address
                </th>
                <th>
                    Room Price
                </th>
                <th>
                    Room Type
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hotal_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Room_Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Room_Type)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
