@model IEnumerable<New_Zealand_MVC.Models.Customer>

@{
    ViewData["Title"] = "Index";
}
<!--this page make for giving the information about Customers And add a image in this page-->

<h1>Index</h1>
<div class="cl">&nbsp;</div>
<a href="#">
    <img src="css/images/SKY.jpg" alt="" />
    <div class="cl">&nbsp;</div>
    </div>
    <P>
        In a world of extreme disruption, the key to success lies in the quality of your connection to the customer.
        Our 2019 KPMG New Zealand Customer Experience Excellence Report showcases the top brands excelling in customer experience,
        reveals what New Zealand consumers value most from their favourite brands and provides insights on the economic benefit to be gained.
        The research is based on a survey of almost 3,000 consumers across New Zealand,
        with 130 New Zealand and international brands considered against the KPMG Six Pillars of Customer Experience Excellence.


    </P>


    </div>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Customer Name
                </th>
                <th>
                    Mobile
                </th>
                <th>
                    Email
                </th>
                <th>
                    Address
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mobile)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
